---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('solicitadas')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} - Recetas Solicitadas`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-4xl mx-auto p-8">
			<h1 class="text-4xl font-bold mb-4 text-center">🌟 Recetas propuestas</h1>
			<p class="text-center mb-8 text-gray-700">¿Necesitas algo que se ajuste a ti? Proponlo en la sección de <a href={`${import.meta.env.BASE_URL}solicitud`} target="_self"  class="underline"  title="Apartado propuestas">propuestas</a> y lo haremos realidad. Evaluaremos tu propuesta</p>
			<ul class="grid grid-cols-1 md:grid-cols-2 gap-8 list-none m-0 p-0">
				{
					posts.map((post) => (
						<li class="first:col-span-full first:mb-8 first:text-center">
							<a href={`${import.meta.env.BASE_URL}solicitadas/${post.id}/`} class="block no-underline transition-all duration-200 hover:scale-105">
								{post.data.heroImage && (
									<Image width={720} height={360} src={post.data.heroImage} alt="" class="w-full rounded-xl mb-2" />
								)}
								<h4 class="text-2xl font-bold m-0 text-gray-900">{post.data.title}</h4>
								<p class="text-gray-600 m-0">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>